.header {
  display: flex;
  flex-direction: column;
  width: 40px; }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s; }

.menu-element {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 30px;
  border: 1px solid white;
  color: white;
  background-color: darkslategray; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none; }

a {
  text-decoration: none; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
